# Python
.venv/
__pycache__/
*.pyc
.env

__pycache__/
*.pyc

chroma_db/
# Environment variables
.env

# Node / React
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store

ai-server/.env
ai-server/chroma_db/